@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-unit: 1em;
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.margin-md { margin: var(--space-md); }
.gap-sm { gap: var(--space-sm); }
.gap-md { gap: var(--space-md); }
.gap-lg { gap: var(--space-lg); }

h1 {
  font-size: x-large;
  font-weight: bold;
}

h3 {
  font-size: large;
  font-weight: bold;
}

.header {
  color: #fff;
  background-color: #265b4e;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.error {
  color: #ff0000;
  font-size: x-large;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  background-color: #FAF9F6;
  padding: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}

.search-input {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 400px;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: .4em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}

.card {
  min-height: 100px;
  width: 100%;
  padding: 36px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}
